/*viewport height) units to allow the body to set a minimum height value based upon the full height of the viewport*/
body { min-height: 100vh; 
  background-color: #0D0208;
  min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
}

#container{
  display: grid;
  height: 70%;
  width: 70%;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #008F11;
}

//UNSURE IF NEEDED
#container > div {
 
  width: 30px;
    height: 30px;
    border: 1px solid gray;
  }

#button-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
     }

#generate-button{
  background-color: #008F11;
  color: #fff;
  border: 5px;
  padding: 15px 32px;
  border-radius: 10px;
  text-align: center;
  min-height: 30px;
  min-width: 120px;

}

#generate-button:hover{
  background-color: #00FF41 ;
  transition: 0.7s;
  color: dark;
}

.generatedDivs:hover{
  background-color: yellow;
  transition: 0.7s;
  color: dark;
}