#container{
display: grid;

}

/* unsure if needed
 .div{
    display:flex;
    justify-content: center;
    align-items:center;
   
}
*/

#container div{
  width: 1000px;
  height: 1000px;
  }

#button-container{
    display:flex;
    justify-content: center;
 
    }

#button{
  background-color: #008F11;
  color: #fff;
  border: 5px;
  padding: 15px 32px;
  border-radius: 10px;
  text-align: center;
  min-height: 30px;
  min-width: 120px;

}

#button:hover{
  background-color: #00FF41 ;
  transition: 0.7s;
  color: #35374f;
}
